/* 
    Document   : style
    Created on : 17.01.2012, 17:55:18
    Author     : lukashoppner
    Description:
        Purpose of the stylesheet follows.
*/
#ajax-loader{
    padding-top: 7px;
    padding-right: 10px;
}
.topbar .brand{
    font-weight: bold;
    margin-right: 20px;
}
.nav {
    font-size: 16px;
}
.table a:hover{
    text-decoration: none;
}
#searchdiv{
    position: relative;
}
#searchResultContainer{
    position: absolute;
    top: 45px;
    right: 20px;
    width: 250px;
}
#searchResultContainer table{
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
#searchResults a{
    color: #000;
    shadow: none;
}
#inputFieldOverlay {
    z-index:2;
    position:absolute;
    right: 8px;
    top: 3px;
}
body{
    padding-top: 60px;
}
pre{
    max-height: 200px;
    overflow: scroll;
}
.breadcrumb .active {
    color: #888;
}

.dropdown-menu li {
    font-size: 12px;
}

.folderview {
    padding: 8px 0;
}
.folderview > ul > li > a {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}
#body a [class^="icon-"]{
    color: #333;
}

.nav-list {
    font-size: 13px;
}

.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}
.footer a:hover {
    text-decoration: none;
}